In [146]:
#ライブラリのインポート
import math
import numpy as np
import pandas as pd
import scipy.stats

In [147]:
#データの読み込み
df=pd.read_csv("homepage_actions.csv")
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [148]:
#内容確認
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
timestamp    8188 non-null object
id           8188 non-null int64
group        8188 non-null object
action       8188 non-null object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [149]:
#集計
group=df.groupby('group').count()
group

            timestamp    id  action
group
control          4264  4264    4264
experiment       3924  3924    3924

In [150]:
pd.pivot_table(df,index='group',columns='action',values=['group','action'],aggfunc='count')

              id       timestamp
action     click  view     click  view
group
control      932  3332       932  3332
experiment   928  2996       928  2996

In [133]:
control=932/4264
control

0.21857410881801126

In [134]:
experiment=928/3924
experiment

0.23649337410805302

In [154]:
data=np.matrix([[932,3332],[928,2996]])
chi2,p,ddof,expected=scipy.stats.chi2_contingency(data,correction=False)

print("カイ二乗値:", chi2)
print("p値:", p)
print("自由度:", ddof)
print("期待度数:", expected)

カイ二乗値: 3.7375327967422627
p値: 0.05320294852289552
自由度: 1
期待度数: [[ 968.61748901 3295.38251099]
 [ 891.38251099 3032.61748901]]